body{
	background-color: transparent;
	padding: 0;
	margin: auto;
}
body,html{
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: auto;
	background-color: #132148;
}
.border_line{
	margin: 5px;
	border: 1px #9ba5c7 solid;
}
.foot_style{
	font-size: 14px;
	color: #9BA5C7;
}
.client_style{
	overflow:hidden;
	position:relative;
}
.echarts_style{
	width: 100%;
	height: 100%;
	/*border: 1px #0e1434 solid;*/
	float: left;
}
.main_width, .content_width, .oneranks_width, .labelwidth_one, .labelwidth_two, .pie_width, .containerpie_width, .eightPie_width{float: left;}
.item1{width:100%;overflow:hidden;position:relative;}
.item1 ul li{background-position:center;background-repeat:no-repeat;background-size:cover;width:100%;height:100%;position:absolute;top:0;}
.item2{width:100%;overflow:hidden;position:relative;}
.item2 ul li{background-position:center;background-repeat:no-repeat;background-size:cover;width:100%;height:100%;position:absolute;top:0;}
.item3{width:100%;overflow:hidden;position:relative;}
.item3 ul li{background-position:center;background-repeat:no-repeat;background-size:cover;width:100%;height:100%;position:absolute;top:0;}
.item4{width:100%;overflow:hidden;position:relative;}
.item4 ul li{background-position:center;background-repeat:no-repeat;background-size:cover;width:100%;height:100%;position:absolute;top:0;}
.item5{width:100%;overflow:hidden;position:relative;}
.item5 ul li{background-position:center;background-repeat:no-repeat;background-size:cover;width:100%;height:100%;position:absolute;top:0;}
.item6{width:100%;overflow:hidden;position:relative;}
.item6 ul li{background-position:center;background-repeat:no-repeat;background-size:cover;width:100%;height:100%;position:absolute;top:0;}
.echarts-all{
	width: 100%;
	height: auto;
}
.screen_style{
	padding: 5px;
	margin:0 5px;
}
ul {
	/*width:750px;
	height:200px;*/
	overflow:hidden;
	padding:0px;
	margin:0px;
}
li {
	float:left;
	list-style:none;
	/*width:250px;
	height:200px;*/
